!-------- Xterm Terminal Settings {{{
    !------------------------------------------------------
	! https://wiki.archlinux.org/index.php/Xterm
	! https://lukas.zapletalovi.com/2013/07/hidden-gems-of-xterm.html
	! http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/
	! http://www.futurile.net/2016/06/15/xterm-256color-themes-molokai-terminal-theme/

	! Allow xterm to report the TERM variable correctly.
	! Do not set the TERM variable from your ~/.bashrc or ~/.bash_profile or similar file.
	! The terminal itself should report the correct TERM to the system so that the proper terminfo file will be used.
	! Two usable terminfo names are xterm and xterm-256color
	XTerm.termName: xterm-256color

	! Title of the terminals
	XTerm*title: toty

	! Fonts ====================================================
	! set font and fontsize
	XTerm*faceName: terminus
	XTerm*faceSize: 10

	! VT Font Menu: Unreadable
	xterm*faceSize1: 8
	! VT font menu: Tiny
	xterm*faceSize2: 10
	! VT font menu: Medium
	xterm*faceSize3: 12
	! VT font menu: Large
	xterm*faceSize4: 16
	! VT font menu: Huge
	xterm*faceSize5: 20


	! Ensure that your locale is set up for UTF-8. If you do not use UTF-8, you may need to force xterm to more strictly follow your locale by setting
	XTerm.vt100.locale: true

	! Cursor ====================================================
	! pointer and cursor (blinking and color)
	XTerm*pointerColor: white
	XTerm*pointerColorBackground: black
	XTerm*cursorColor: white
	XTerm*cursorBlink: true


	!! Selecting Text ========================================================
	! Only select text
	XTerm*highlightSelection: true
	! Remove trailing spaces
	XTerm*trimSelection: true

	!! Scrolling ========================================================
	! Use: Shift-Pageup / Shift-Pagedown to scroll or mousewheel
	! Lines of output that you can scroll back over
	XTerm*saveLines: 16384

	! Turn the scrollbar on, and put it on the right
	! XTerm.vt100.scrollBar: true
	! XTerm.vt100.scrollbar.width: 8
	! xterm*scrollBar: true
	! xterm*rightScrollBar: true

	! Do not scroll when there is new input e.g. tail -f /var/syslog
	XTerm*scrollTtyOutput: true 

	!! Keybinding ========================================================
	! http://blog.rot13.org/2010/03/change-font-size-in-xterm-using-keyboard.html
	! - change fontsize on the fly (ctrl+plus = increase ; ctrl+minus = decrease, ctrl+0 = default)
	! - copy/paste hotkey (ctrl+shift+c = copy ; ctrl+shift+v = paste)
	! - open url (clickable links)
	!   1) double click to highlight the full url
	!   2) Shift + click it to open it
	XTerm.vt100.translations: #override \n\
	Ctrl <Key> minus: smaller-vt-font() \n\
	Ctrl <Key> plus: larger-vt-font() \n\
	Ctrl <Key> 0: set-vt-font(d) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
	Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
	<Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
	<Btn2Up>: insert-selection(PRIMARY)

	! enable copy/paste hotkey to work (shift+insert = paste ; mouse highlight = copy)
	XTerm*selectToClipboard: true
	! disable fullscreen hotkey alt+enter (hotkey conflicts with weechat, midnight commander ...etc)
	XTerm*fullscreen: never
	! enable alt key to work
	XTerm*metaSendsEscape: true
	! Fix the backspace key (for Emacs)
	XTerm.vt100.backarrowKey: false
	XTerm.ttyModes: erase ^?

	! double-click to select whole URLs :D
	! https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/
	XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

	! Tips: Left and right selection (text selection using left button for beginning and right button for end)
	! Tips: Triple Click ( 1 click = nothing, 2 click = select word, 3 click = select line )
	!
	! XTerm*on3Clicks: regex [[:alpha:]]+://([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
	XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
	!
	*background: #002b36
	*foreground: #c2cfd3
	!!*fading: 40
	*fadeColor: #002b36
	*cursorColor: #93a1a1
	*pointerColorBackground: #586e75
	*pointerColorForeground: #93a1a1

	!! black dark/light
	*color0: #073642
	*color8: #808080

	!! red dark/light
	*color1: #dc322f
	*color9: #ff9999

	!! green dark/light
	*color2: #859900
	*color10: #66ffb2

	!! yellow dark/light
	*color3: #b58900
	*color11: #ffff66

	!! blue dark/light
	*color4: #268bd2
	*color12: #66b2ff

	!! magenta dark/light
	*color5: #d33682
	*color13: #ff66b2

	!! cyan dark/light
	*color6: #009999
	*color14: #2aa198

	!! white dark/light
	*color7: #eee8d5
	*color15: #fdfbf6

